* {
  box-sizing: border-box;
  font-family: 'Inconsolata', 'Noto Sans KR', sans-serif, monospace;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  background: rgb(248, 249, 250);
}
